# 配置 electron, 根据文档把electron的下载目录换成淘宝源，不然根本下不动：https://github.com/electron/get
# electron_mirror="https://npm.taobao.org/mirrors/electron/"
# electron_mirror="https://cdn.npm.taobao.org/dist/electron/"

# 配置 npm 
# registry=https://registry.npm.taobao.org 
# arch=ia32
# target_arch=ia32
# arch、target_arch - 根据目标环境定义为 ia32 或 x64 （win）